<div class="container">
	<div class="page-header">
		<h1>Historia de Ciudad Real</h1>
	</div>
	</hr>
	<p>
		Ciudad Real es un municipio y una ciudad española, capital de la provincia homónima y de su partido judicial. Está situada en la comunidad autónoma de Castilla-La Mancha.
		Se encuentra a una altitud de 628 msnm. Su término municipal tiene una extensión de 289,98 km². Comprende cuatro núcleos de población: Ciudad Real, Las Casas, Valverde y La Poblachuela. Se encuentra situado a unos 200 km al sur de Madrid.
		Ciudad Real está urbanísticamente separada por escasos metros de la vecina localidad de Miguelturra formando un "continuo" demográfico o conurbación de aproximadamente 100.000 habitantes, si bien el término se utiliza para realidades de escala muy superior.
	</p>
	
	<button class="btn btn-info btn-mini btn_back" type="button"><i class="icon-circle-arrow-left icon-white"></i>Atrás</button>
</div>
