<div class="container">
	<div class="page-header">
		<h1>Listar Capitales por Comunidades Autónomas</h1>
	</div>
	</hr>
	<h4>Capitales de provincia</h4>
	<form action="./" method="get" class='busqueda form-horizontal'>  
		<div class="field">
		
			<!--input type="text" id="comboCommunities" name="comboCommunities" value="" placeholder="Comunidad autonoma" class="login username-field" /-->

			<select id='comboCommunities' name = 'comboCommunities'>
						  
			</select>
			<input type="submit" value="Enviar" class="button btn btn-warning btn-medium" />
		</div>
	</form>


</div>

<!--select id='comboCommunities' name = 'comboCommunities'>
			  
</select-->
