<div class="container">
	<div class="page-header">
		<h1>Historia de Guadalajara</h1>
	</div>
	</hr>
	<p>
		Guadalajara es una ciudad y municipio español, capital de la provincia homónima, en la comunidad autónoma de Castilla-La Mancha. Está situada en el centro de la península Ibérica, entre las comarcas de La Alcarria y la Campiña del Henares.2 Con 84.803 habitantes, es la tercera ciudad más poblada de la región, tras Albacete y Talavera de la Reina.
	</p>
	
	<button class="btn btn-info btn-mini btn_back" type="button"><i class="icon-circle-arrow-left icon-white"></i>Atrás</button>
</div>
