
<!--div id="wrap"-->

  <!-- Begin page content -->
  <div class="container">
    <div class="page-header">
      <h1>Capitales por comunidad</h1>
    </div>
    <p class="lead">Estas son las capitales de la comunidad seleccionada:</p>
    <table class="table">
      <thead>
        <tr>
          <th>Capital de Provincia</th>
        </tr>
      </thead>
      <tbody>
      <%
        _.each(obj,function(autonomie){%>
          
            <%if (autonomie.Autonomie == 'Castilla-La Mancha'){%>
              <%for (var i=0; i <= autonomie.provincialCapital.length-1; i++){%>
                 <tr>
                  <td>
                    <p><%- autonomie.provincialCapital[i] %></p>
                    <p>


                      <% if(autonomie.provincialCapital[i] == 'Ciudad Real') { %>
                       <button class="btn btn-info btn-mini ciudadReal" type="button"><i class="icon-info-sign icon-white"></i>Historia</button>
                      <% } else { %>
                          <button class="btn btn-info btn-mini <%- autonomie.provincialCapital[i] %>" type="button"><i class="icon-info-sign icon-white"></i>Historia</button>
                       <%  } %>


                     
                    </p>
                  </td>
                  <td><a href=<%- autonomie.images[i] %>  class="external"><img src=<%- autonomie.images[i] %> height="100" width="100" title="Click para ver en tamaño original"></a></td>
                </tr>
              <%}%>
            <%}%>
            
        <%});
      %>
      </tbody>
    </table>
  </div>

  <!--div id="push"></div-->
 <!--/div-->


<footer class="footer">
  <div class="container">
    <p>Practicando con backbone y node.js <a href="http://inquietomanuel.blogspot.com.es/"> Accede a mi blog</a> --Manuel Recuero--</p>
  </div> 
</footer>